.ds-text-secondary {
  color: #000000;
}

.ds-h3 {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-36);
  line-height: var(--ds-line-height-42);
  font-weight: 400;
  margin: 0;
  color: #000000;
}

.ds-b1 {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-18);
  line-height: var(--ds-line-height-24);
  font-weight: 400;
  margin: 0;
  color: #000000;
}

.ds-b1-medium {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-18);
  line-height: var(--ds-line-height-24);
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.ds-b1-semibold {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-18);
  line-height: var(--ds-line-height-24);
  font-weight: 600;
  margin: 0;
  color: #000000;
}

.ds-b2 {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-16);
  line-height: var(--ds-line-height-22);
  font-weight: 400;
  margin: 0;
  color: #000000;
}

.ds-b2-medium {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-16);
  line-height: var(--ds-line-height-22);
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.ds-b3 {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-14);
  line-height: var(--ds-line-height-18);
  font-weight: 400;
  margin: 0;
  color: #000000;
}

.ds-b3-medium {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-14);
  line-height: var(--ds-line-height-18);
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.ds-caption-semibold {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-12);
  line-height: var(--ds-line-height-14);
  font-weight: 600;
  margin: 0;
  color: #000000;
}

