.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  backdrop-filter: blur(8px);
  background: var(--ds-color-bg-primary-72);
}

.headerInner {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--ds-space-96);
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 var(--ds-space-24);
  }
}

.headerRow {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--ds-font-family-accent);
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
