.toggle {
  width: 36px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: var(--ds-radius-10);
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.indicator {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: var(--ds-radius-8);
  position: absolute;
  top: 2px;
  left: 2px;
}

.on {
  background: #000000;
}

.on .indicator {
  left: 18px;
  background: #ffffff;
}

