.field {
  display: flex;
  flex-direction: column;
  gap: var(--ds-space-8);
}

.label {
  color: var(--ds-color-text-secondary);
  font-size: var(--ds-font-size-14);
  line-height: var(--ds-line-height-18);
  font-weight: 500;
}

.control {
  height: 52px;
  width: 100%;
  padding: 0 15px;
  border-radius: var(--ds-radius-8);
  border: 1px solid var(--ds-color-bg-surface);
  background: var(--ds-color-bg-surface);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.native {
  width: 100%;
  border: 0;
  background: transparent;
  color: var(--ds-color-text-primary);
  outline: none;
}

.native::placeholder {
  color: var(--ds-color-text-tertiary);
}

.withRightIcon {
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--ds-space-12);
  padding-right: 10px;
}

.rightIcon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--ds-color-text-secondary);
}

